name: Portainer Proxy
version: "1.5.2"
panel_icon: "mdi:arrow-decision"
panel_title: Portainer
slug: portainer-proxy
description: Proxy addon for Portainer
url: "https://github.com/KJ-gh-repo/frigate-hass-addons"
startup: application
boot: auto
webui: "http://[HOST]:[PORT:5001]/"
watchdog: "http://[HOST]:[PORT:5001]/"
ingress: true
ingress_port: 5001
ingress_entry: /
panel_admin: false
ports:
  5001/tcp: 5001
ports_description:
  5001/tcp: Web interface (Not required for Hass.io Ingress), 5000 is in use by frigate proxy so 5001 is choosen for portainer proxy
host_network: false
devices: []
usb: false
tmpfs: false
full_access: false
environment: {}
options:
  server: "https://portainer.local:9443"
  proxy_pass_host: true
  proxy_pass_real_ip: true
schema:
  #server: "match(^http[|s]?://.+[|\:\d+]$)"
  proxy_pass_host: bool
  proxy_pass_real_ip: bool
services: []
arch:
  - aarch64
  - amd64
  - armhf
  - armv7
  - i386
map: []
